services:
  app:
    image: node:18-alpine
    working_dir: /app
    command: npm run dev
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - postgres
    networks:
      - finance-network

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: finance_control
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: finance_password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      - finance-network

networks:
  finance-network:

volumes:
  postgres_data_dev:
